@charset "utf-8";

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// 2023 I'm feeling lavender
$lavender: #b3a5d8;
$lavender-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $lavender;
$primary-invert: $lavender-invert;

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";

body {
    font-family: 'Lato', sans-serif;
}

.title {
    font-weight: 400;
}

.main-container,
.side-note {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
}

.main-container {
    height: 27vh;
    font-size: 5rem;
}
.side-note {
    font-size: 2rem;
}

.footer {
    padding-bottom: 3rem;
}
.foot-links {
    font-size: 2rem;
}